{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/feedback/feedback.css' %}"/>
<div class="container form_body">
    <h1>Обратная связь</h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary message" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% else %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ feedback_form }}
        {{ feedback_auther }}
        {{ feedback_images }}
        {% comment "" %}
        {% with form=feedback_form %}
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="input-group">
            <span class="input-group-text">
                {{ field.label }}
            </span>
            {{ field }}
            {% if form.is_bound and field.errors %}
            {% for error in field.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}

            {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
        </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}

        {% if messages %}
        {% for message in messages %}
        <p> {{ message }} </p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% with form=feedback_auther %}
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="input-group">
            <span class="input-group-text">
                {{ field.label }}
            </span>
            {{ field }}
            {% if form.is_bound and field.errors %}
            {% for error in field.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}

            {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
        </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}

        {% if messages %}
        {% for message in messages %}
        <p> {{ message }} </p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% with form=feedback_images %}
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="input-group">
            <span class="input-group-text">
                {{ field.label }}
            </span>
            {{ field }}
            {% if form.is_bound and field.errors %}
            {% for error in field.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}

            {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
        </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}

        {% if messages %}
        {% for message in messages %}
        <p> {{ message }} </p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endcomment %}
        <input type="submit" class="btn btn-primary submit_button" value="Отправить">
    </form>
    {% endif %}
</div>
{% endblock %}