.list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.items_block {
    margin-bottom: 1vw;
    height: 38vw;
    border: 0.1vw solid rgb(133, 133, 133);
    border-radius: 1vw;;
}
.list_item::-webkit-scrollbar {
    height: 0.4vw;
}
.list_item::-webkit-scrollbar-thumb {
    background-color: #939393;   
    border-radius: 5vw;      
}
.category_title {
    font-size: 2vw;
    width: 100%;
    text-align: center;
    writing-mode:vertical-rl;
    transform: rotate(180deg);
}