[flake8]
max-line-length = 80
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    */migrations/,
    */.venv/,
    */venv/,
    .prod,
    .dev,
    .test
plugins =
    flake8-commas
    flake8-import-order
    flake8-commas
inline-quotes = double