[flake8]
max-line-length = 80
import-order-style = google
application-import-names = catalog, about, core, homepage, lyceum, download, feedback
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    */migrations/,
    */.venv/,
    */venv/,
    .prod,
    .dev,
    .test,
    tvenv
plugins =
    flake8-commas
    flake8-import-order
    flake8-return
    flake8-quotes
    flake8-clean-block
    flake8-expression-complexity
    flake8-bugbear
inline-quotes = double