{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container alert alert-primary" role="alert">
<p>
    Наша миссия заключается в том, чтобы обеспечить вас и вашего питомца всем необходимым для счастливой и здоровой жизни. Мы тщательно отбираем продукцию от лучших производителей, чтобы предложить только качественные товары, которые соответствуют потребностям вашего питомца.

Мы понимаем, насколько важно для вас заботиться о вашем маленьком друге, поэтому мы с радостью поможем вам выбрать правильные товары и ответим на все ваши вопросы.

Благодарим вас за выбор CatMart! Надеемся, что наш магазин станет вашим надежным партнером в уходе за вашим пушистым другом.
</p>
</div>
{% endblock %}