{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/users/users.css' %}"/>
<div class="auth_block">
    <h2>{{header_title}}</h2>
    <form method="post" class="form_block">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-group">
            {% if forloop.counter|divisibleby:2 %}
            <span class="input-group-text">
                {{ field.label }}
            </span>{% endif %}
            {{ field }}
            {% if not forloop.counter|divisibleby:2 %}
            <span class="input-group-text">
                {{ field.label }}
            </span>
            {% endif %}
            {% if form.is_bound and field.errors %}
            {% for error in field.errors %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}

            {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
        </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mb-3">{{button_text}}</button>
    </form>
</div>
{% endblock content %}