{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home/echo.css' %}"/>
<div class="container form_body">
    <form method="post" action="{% url 'homepage:echo_submit' %}">
        {% csrf_token %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary submit_button">Отправить</button>
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}
    </form>
</div>
{% endblock %}